.gram-pro-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  padding-right: 16px;
  transition: all 0.15s ease-in;
  .gram-pro-header-wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 100%;
    .header-controls-wrapper{
      display: flex;
      align-items: center;
    }
  }
}
